---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/styles.css';
---

<Layout title="Authenticated">
    <main>
    </main>
</Layout>

<style>
</style>

<script>
    const urlParams= (new URL(document.location)).searchParams;
    const code = urlParams.get('code');
    console.log(encodeURIComponent(document.location.toString().split("?")[0]));
    const response = await fetch("https://bschallenger.xyz/api/login", {
        method: "POST",
        mode: "cors",
        cache: "no-cache",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({
            beatLeaderToken: code,
            redirectURL: encodeURIComponent(document.location.toString().split("?")[0])
        }),
    }).then(res => res.json());

    if(!response.token)
    {
        console.log(response);
    }
    else {
        document.cookie = "token=" + response.token;

        console.log(response);
        const user = await fetch("https://bschallenger.xyz/api/identity", {
            method: "GET",
            mode: "cors",
            cache: "no-cache",
            headers: {
                "Authorization": "Bearer " + response.token
            }
        })

        if (user.status == 200) {
            const info = await user.json();
            const id = info.id;
            console.log("New login from " + JSON.stringify(info));

            document.location = "/"
        }
    }

</script>