---
import Layout from '../layouts/Layout.astro';
import '../styles/styles.css';
import RankingCard from "../components/RankingCard.astro";

let page = Astro.url.searchParams.get('page')! || '1';

let response = await fetch("https://api.bschallenger.xyz/rankings");
let rankings = await response.json();

let navPage = page;

let pages = Math.ceil(rankings.length / 6)
---

<Layout title="Rankings">
	<main>
		<div class="rankingsContainer">
			<p class="title">All Rankings</p>
			<div class="divider"/>
			{
				rankings.map(data =>
					<RankingCard ranking={data}/>
				)
			}
			<div class="navigation">
				<button class="navButton" style="text-align: left">
					←
				</button>
				<p class="navLabel">{navPage}/{pages}</p>
				<button class="navButton" style="text-align: right">
					→
				</button>
			</div>
		</div>
	</main>
</Layout>

<script define:vars={{ rankings }} client:load>
	// Find all buttons with the `alert` class on the page.
	const buttons = document.querySelectorAll('button.container');

	// Handle clicks on each button.
	buttons.forEach((button, index) => {
		button.addEventListener('click', () => {
			document.location = "/ranking/" + rankings[index].identifier;
		});
	});
</script>

<style>
	.rankingsContainer  {
		position: fixed;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		min-width: 300px;
		width: 50%;
		height: 70%;
		background-color: #171717;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
		border-radius: 15px;
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	.title {
		color: #FFF;
		text-align: center;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		font-family: Lato, sans-serif;
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;

		height: 40px;
		margin: 20px 0 20px 0;
	}

	.divider {
		width: 75%;
		height: 3px;
		border-radius: 3px;
		background: rgba(217, 217, 217, 0.40);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}

	.navigation {
		display: flex;
		flex-direction: row;

		margin: auto auto 25px;

		gap: 40px;
	}

	.navButton {
		width: 110px;
		height: 35px;

		margin-top: auto;
		margin-bottom: auto;

		border: none;

		border-radius: 20px;
		background: #2A2A2A;

		color: #FFF;
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-align: center;

		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;

		transition-duration: 0.2s;
	}

	.navButton:hover {
		background-color: #1d1d1d;
		cursor: pointer;
		transition-duration: 0.2s;
	}

	.navLabel {
		margin-top: auto;
		margin-bottom: auto;

		color: #FFF;
		text-align: center;
		font-family: Lato, sans-serif;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
</style>
