---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '../styles/styles.css';

const token = Astro.cookies.get("token");

const userRes = await fetch("https://bschallenger.xyz/api/identity", {
    method: "GET",
    mode: "cors",
    cache: "no-cache",
    headers: {
        "Authorization": "Bearer " + token.value
    }
})
const user = (await userRes.json());
const needsToLink = !user.discordId?.length;
console.log(needsToLink);
console.log(user);
---

<Layout title="Profile">
    <main>
        <div class="container">
            {
                needsToLink ?
                <button class="linkDiscordButton">
                    Link discord
                </button> :
                <div class="discordLinked">
                    Discord Linked!
                </div>
            }
        </div>
    </main>
</Layout>

<style>
    .container
    {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        min-width: 200px;
        width: 30%;
        height: 40%;
        background-color: #171717;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .linkDiscordButton, .discordLinked
    {
        display: flex;
        border: none;
        margin: auto;
        width: 40%;
        height: 50px;
        border-radius: 10px;
        background-color: #3a3a3a;

        color: #FFF;
        text-align: center;
        font-family: Lato, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;

        justify-content: center;
        align-content: center;
        vertical-align: center;
        line-height: 50px;
    }

    .discordLinked
    {
        margin-top: 10px;
        background-color: #3a3a3a33;
    }

    .linkDiscordButton:hover
    {
        background-color: #2a2a2a;
        cursor: pointer;
    }
</style>

<script>
    const tgt = document.getElementsByClassName("linkDiscordButton")[0];
    tgt.addEventListener("click", () => {
        document.location = "https://discord.com/api/oauth2/authorize?client_id=1163555058479272006&redirect_uri=https%3A%2F%2Fbschallenger.xyz%2Fdiscord-auth&response_type=code&scope=identify";
    });
</script>