---
const { level } = Astro.props;

let color0 = level.color0;
let color1 = level.color1;
---


<div class="level">
    <div class="levelBadge">
        <p class="badgeText">Lvl: {level.levelNumber}</p>
    </div>
    <div class="iconGradient"">
        <img class="icon" src={level.iconURL} draggable="false"/>
    </div>
</div>

<style define:vars={{ color0, color1 }}>
    .level {
        width: 140px;
        height: 140px;

        border-radius: 20px;
        background: #3E3E3E;
        transition-duration: 0.2s;

        box-shadow: 0 15px 25px rgba(0,0,0,.21);
    }

    .iconGradient{
        position:relative;
        display:inline-block;
        left: 20px;
        top: -18px;
        height: 120px;
        border-radius: 15px;
        background-image: linear-gradient(90deg, var(--color0), var(--color1));
    }
    .iconGradient:after {
        content:'';
        position:absolute;
        left:0; top:0;
    }

    .icon {
        width: 100px;
        height: 120px;
        border-radius: 5px;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .levelBadge {
        z-index: 100000;
        width: 110px;
        height: 30px;
        position: relative;
        left: 15px;
        top: 7px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border-radius: 10px;
        background: linear-gradient(180deg, #70008C 0%, #491656 99.99%, rgba(0, 0, 0, 0.00) 100%);
    }

    .badgeText {
        margin: 0px;

        color: #FFF;
        text-align: center;
        font-family: Teko;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 2.2px;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }
</style>