---
import Layout from "../../layouts/Layout.astro";
import LevelCard from "../../components/LevelCard.astro";
import LargeLevelCard from "../../components/LargeLevelCard.astro";
import LevelInfo from "../../components/LevelInfo.astro";
const { ranking } = Astro.params;

let response = await fetch("https://bschallenger.xyz/api/rankings");
let rankings = await response.json();

let rankingObj = rankings.find(r => r.identifier == ranking);

console.log(rankingObj.identifier);
---

<Layout title={rankingObj.name}>
    <main>
        <div class="rankingsContainer">
            <div class="infoContainer">
                <div class="leftInfo">
                    <img class="rankingImage" src={rankingObj.iconURL} transition:name={`${rankingObj.identifier}`}/>
                    <p class="rankingName">{rankingObj.name}</p>
                </div>
                <div class="rightInfo">
                    <p class="currentLevel">Your Level</p>
                    <LargeLevelCard level={{
                        levelNumber: 1,
                        iconURL: '/Default.png',
                        color0 : '#249D76',
                        color1 : '#217a5e'
                    }} />
                </div>
            </div>
            <div class="levelContainer">
                <LevelCard level={{
                    levelNumber: 1,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 2,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 3,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 4,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 5,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 6,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 7,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 8,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 9,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 10,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 11,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
                <LevelCard level={{
                    levelNumber: 12,
                    iconURL: '/Default.png',
                    color0 : '#249D76',
                    color1 : '#217a5e'
                }} />
            </div>
        </div>
    </main>
</Layout>

<style>
    .rankingsContainer  {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        min-width: 300px;
        width: 58%;
        height: 75%;
        background-color: #151515;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .infoContainer {
        display: flex;

        margin-top: 15px;
        width: 97%;
        height: 200px;

        border-radius: 15px;
        background: #1B1B1B;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        margin-left: auto;
        margin-right: auto;
    }

    .leftInfo {
        display: flex;
    }

    .rankingImage {
        display: flex;
        height: 90%;
        border-radius: 20px;

        margin-top: 10px;
        margin-bottom: auto;
        margin-left: 10px;
    }

    .rankingName {
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Lato, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin: 20px auto auto 20px;
    }

    .rightInfo {
        display: flex;
        flex-direction: column;
        gap: 15px;

        margin: auto 50px auto auto;
    }

    .currentLevel {
        color: #FFF;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Lato, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        margin: 0px;
    }

    @media screen and (min-width: 1150px) {
        .rankingName
        {
            font-size: 40px;
        }
    }

    @media screen and (max-width: 1150px) {
        .rightInfo {
            display: none;
        }
        .rankingName
        {
            font-size: 25px;
        }
    }

    .levelContainer {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(90px, 1fr) );
        gap: 5px;
        margin: 15px min(2%, 15px) 0px min(2%, 15px);
    }
</style>